* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(/Netflix_clone/assets/images/bg.jpg);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}

.main .box {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

.navbar {
    max-width: 60vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 82px;
}

.navbar span img {
    height: 40px;
    position: relative;
    z-index: 10;
}

.main .text {
    /* height: calc(100% - 82px); */
    /* height: 100%; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    font-family: sans-serif;
    gap: 23px;
    padding: 23px;
    padding-top: 100px;
}

.text .hero {
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
}

.text> :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.text> :nth-child(3) {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.login {
    display: flex;
    gap: 3px;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 0px;
}

@media screen and (max-width:700px){
    .text .herp{
        font-size: medium;
        font-weight: 500;
    }
    .text> :nth-child(2) {
        font-size: 16px;
        font-weight: 300;
    }
    .text> :nth-child(3){
        font-size: 16px;
        font-weight: 300;
    }
}

@media screen and (max-width: 930px){
    .main .text{
        gap: 10px;
    }
    .mian .box{
        height: calc(100% - 82px);
    }

}

.sepration {
    background-color: rgb(46, 45, 45);
    height: 6px;
    position: relative;
    z-index: 10;
}
@media screen and (max-width: 555px){
    .main{
        height: 80vh;
    }
}
.main option {
    background-color: white;
    color: black;
}

.btn {
    padding: 3px 8px;
    background-color: white;
    font-weight: bold;
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.526);
    padding: 8px 12px;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
}

.login {
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 20px;
    border: none;
}

.red-sn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0px 8px;
}

@media screen and (max-width: 700px){
    .navbar{
        max-width: 80vw;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .navbar span img {
        height: 30px;
    }
    .btn{
        font-size: 14px;
        padding: 3px 5px;
    }
}

.main input {
    background-color: rgb(0 0 0 / 0.5);
    padding: 8px 27px;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.526);
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    position: relative;
    padding: 60px 30px;
}

@media screen and (max-width: 900px) {
    .first {
        flex-wrap: wrap;
    }

}

.first .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    max-width: 30vw;
    /* margin: auto; */
}

.first .content :first-child {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
}

.SecImg {
    position: relative;
    ;
}

.SecImg img {
    position: relative;
    z-index: 10;
    width: 400px;
    height: 263px;
}

.SecImg video {
    width: 296px;
    position: absolute;
    top: 35px;
    left: 51px;
}

@media screen and (max-width: 700px) {
    .SecImg img {
        width: 200px;
        height: 133px;
    }

    .SecImg video {
        width: 148px;
        top: 18px;
        left: 24px;
    }

}

.first>div :nth-child(2) {
    font-family: sans-serif;
    font-size: 16px;
}

.second {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 60vw;
    padding: 60px 0px;
    gap: 100px;
}

@media screen and (max-width: 900px) {
    .second {
        flex-wrap: wrap;
    }
}

.second img {
    width: 400px;
}

@media  screen and (max-width: 700px) {
    .second img{
        width: 200px;
    }
}

.second .content {
    color: white;
}

.second span:first-child {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.third img {
    width: 402px;
    height: 271px;
}


.third video {
    top: 47px;
    left: 51px;
}

@media screen and (max-width:700px) {
    .third img {
        width: 202px;
        height: 131px;
    }

    .third video {
        width: 144px;
        top: 23px;
        left: 31px;
    }

}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    gap: 8px;
    padding: 40px;
}

.faqtext {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.que {
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 45, 45);
    height: 20px;
    width: 50vw;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    max-width: 60vw;
    padding: 20px;
}

.que:hover {
    background-color: #414141;
}

.faqline {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 30px;
}

.faqinput {
    background-color: rgb(0 0 0 / 0.5);
    padding: 8px 27px;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.526);
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 60vw;
    margin: auto;
    color: white;
}

@media screen and (max-width: 850px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

.service {
    max-width: 60vw;
    margin: auto;
    display: flex;
    color: white;
    /* justify-content: center; */

}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.footer-items a {
    color: white;
}